<a href="https://colab.research.google.com/github/oliveiraeverton/scripts/blob/main/Collections_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üíª Listas e tuplas

In [ ]:
idade1 = 39 
idade2 = 60
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
60
27
18

In [ ]:
#CRIANDO UMA LISTA
idades = [39, 60, 27, 18]

In [ ]:
type(idades)

list

O que podemos fazer com uma lista??

In [ ]:
#Acessar cada elemento da lista por um √≠ndice
print(idades[0])
print(idades[1])
print(idades[2])
print(idades[3])

39
60
27
18

In [ ]:
print(idades)

[39, 60, 27, 18]

In [ ]:
#Saber quantos elementos existe na lista
len(idades)

4

In [ ]:
#Adicionar mais elementos na √∫ltima posi√ß√£o

idades.append(9)
print(idades[4])
print(idades)

60
[20, 20, 20, 39, 60, 27, 18, 9]

In [ ]:
print(idades[-1])

9

In [ ]:
#Remover um elemento espec√≠fico
#remove a primeira apari√ß√£o do elemento espec√≠fico
print(idades)
idades.remove(9)
print(idades)

[39, 60, 27, 18, 9]
[39, 60, 27, 18]

In [ ]:
try:
  idades.remove(9)
except:
  print("N√£o existe mais esse elemento para ser removido")

N√£o existe mais esse elemento para ser removido

In [ ]:
#Verificar se existe algum elemento dentro da lista
39 in idades

True

In [ ]:
#Adicionar um elemento na posi√ß√£o desejada
#insert(POSI√á√ÉO_DESEJADA, ELEMENTO)
print(idades)
idades.insert(0, 20)
print(idades)

[39, 60, 27, 18, 9]
[20, 39, 60, 27, 18, 9]

In [ ]:
#Adicionar v√°rios elementos de uma √∫nica vez
idades.extend([4,9,16,25])

In [ ]:
print(idades)

[20, 39, 60, 27, 18, 9, 4, 9, 16, 25]

In [ ]:
#Remover o √∫ltimo elemento
#pop() remove o √∫ltimo elemento da lista e retorna o elemento que ele retirou
idades.pop()

25

In [ ]:
print(idades)

[20, 39, 60, 27, 18, 9, 4, 9, 16]

# ‚ö° For: sintaxes diferenciadas

In [ ]:
for elemento in idades:
  print(elemento)

20
39
60
27
18
9
4
9
16

In [ ]:
idadesAnoQueVem = []

for elemento in idades:
  idadesAnoQueVem.append(elemento+1)

In [ ]:
print(idadesAnoQueVem)

[21, 40, 61, 28, 19, 10, 5, 10, 17]

In [ ]:
print(idades)
novaListaIdadesMaisUma = [(elemento+1) for elemento in idades]
print(novaListaIdadesMaisUma)
print(idades)

[20, 39, 60, 27, 18, 9, 4, 9, 16]
[21, 40, 61, 28, 19, 10, 5, 10, 17]
[20, 39, 60, 27, 18, 9, 4, 9, 16]

In [ ]:
[(elemento) for elemento in idades if elemento > 21]

[39, 60, 27]

In [ ]:
[elemento for elemento in idades if elemento <= 21]

[20, 18, 9, 4, 9, 16]

# Em fun√ß√µes

em fun√ß√£o alterar algo dentro da lista, tamb√©m altera a original

In [ ]:
def listaDoida(lista = []):
  print(len(lista))
  lista.append(9)

In [ ]:
listaDoida()
listaDoida()
listaDoida()
listaDoida()
listaDoida()
listaDoida()

6
7
8
9
10
11

In [ ]:
def adicionaUm(lista):
  lista.append(1)

In [ ]:
listaOriginal = [1,2,3,4,5]
print("A Lista no escopo Geral:", listaOriginal)
adicionaUm(listaOriginal)
print("A lista depois que passar ela para adicionar um elemento dentro\nde uma fun√ß√£o:", listaOriginal)

A Lista no escopo Geral: [1, 2, 3, 4, 5]
A lista depois que passar ela para adicionar um elemento dentro
de uma fun√ß√£o: [1, 2, 3, 4, 5, 1]

In [ ]:
def fazLista(lista = None):
  if lista == None:
    lista = []
    return lista
  print(len(lista))
  lista.append(0)

In [ ]:
x = fazLista()
y = fazLista()
z = fazLista()
fazLista(idades)

11

In [ ]:
print(idades)

[20, 39, 60, 27, 18, 9, 4, 9, 16, 0, 0, 0]

# üí£ Objetos pr√≥pios

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  #representa√ß√£o de string
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
contaEverton = ContaCorrente(1112)
print(contaEverton)

[>>Codigo 1112 Saldo 0<<]

In [ ]:
contaEverton.deposita(9879)
print(contaEverton)

[>>Codigo 1112 Saldo 9879<<]

In [ ]:
contaMaria = ContaCorrente(1313)
contaMaria.deposita(98799)
print(contaMaria)

[>>Codigo 1313 Saldo 98799<<]

In [ ]:
contas = [contaEverton, contaMaria]
print(contas)

[<__main__.ContaCorrente object at 0x7f0d209ca990>, <__main__.ContaCorrente object at 0x7f0d209ca350>]

In [ ]:
for conta in contas:
  #print de um objeto espec√≠fico chama a representa√ß√£o de string dele
  print(conta)

[>>Codigo 1112 Saldo 9879<<]
[>>Codigo 1313 Saldo 98799<<]

In [ ]:
def deposita_para_todas(contas):
  for elementoConta in contas:
    elementoConta.deposita(100)

print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 1112 Saldo 9879<<] [>>Codigo 1313 Saldo 98799<<]
[>>Codigo 1112 Saldo 9979<<] [>>Codigo 1313 Saldo 98899<<]

# üå∑ Tuplas

varia√ß√£o funcional

In [ ]:
everton = ("Everton", 25, 1996)

# üöõ Array

In [ ]:
import array as arr

In [ ]:
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

# ‚ô¶ New Project

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  #representa√ß√£o de string
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self.codigo == outro.codigo

In [ ]:
conta3 = ContaSalario(37)
print(conta3)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta4 = ContaSalario(37)
print(conta4)

[>>Codigo 37 Saldo 0<<]

In [ ]:
print(conta4 == conta3)

True

In [ ]:
numeros = [15, 87, 32, 45, 98, 77]

for i in range(len(numeros)):
  print(i, numeros[i])

0 15
1 87
2 32
3 45
4 98
5 77

In [ ]:
x = enumerate(numeros)

In [ ]:
x

In [ ]:
list(range(len(numeros)))

[0, 1, 2, 3, 4, 5]

In [ ]:
list(enumerate(numeros))

[(0, 15), (1, 87), (2, 32), (3, 45), (4, 98), (5, 77)]

In [ ]:
for indice, valor in enumerate(numeros):
  print(indice, "-", valor)

0 - 15
1 - 87
2 - 32
3 - 45
4 - 98
5 - 77

In [ ]:
#underline ignora uma posi√ß√£o
for indice, _ in enumerate(numeros):
  print(indice, "-", valor)

In [ ]:
tabuadaDois = [2,2,2,2,2,2,2,2,2,2,2]

In [ ]:
for indice, valor in enumerate(tabuadaDois):
  print(valor, "x", indice, "=", indice*valor)

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
h = list(range(99))

In [ ]:
print(h)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [ ]:
print(h)
print(reversed(h)) 
print(h)
print(sorted(h))
print(h)
print(sorted(h, reverse=True))
print(h)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
<list_reverseiterator object at 0x7f0d20b28a50>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
[98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [ ]:
nomes = ["Everton", "Ana", "Bruno"]
sorted(nomes)

['Ana', 'Bruno', 'Everton']

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  #representa√ß√£o de string
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self.codigo == outro.codigo

  def __lt__(self, outro):
    return self.saldo < outro.saldo

In [ ]:
conta90 = ContaSalario(13)
conta90.deposita(300)
conta91 = ContaSalario(12)
conta91.deposita(400)
conta90 < conta91

True